<nav>
  <div class="nav-left">
    <a id="events-link" routerLink="/events">Список мероприятий</a>
    <!-- <a id="create-link" routerLink="/create">Создать мероприятие</a> -->
  </div>

  <div class="nav-center">
    <a id="registration-link" routerLink="registration-list">Список регистрации</a>
    <!-- <a id="create-registration-link" routerLink="create-registration">Создать регистрацию</a> -->
  </div>

  <div class="nav-right">
    <a id="organizer-list-link" routerLink="organizer-list">Список организаторов</a>
    <!-- <a id="create-organizer-link" routerLink="create-organizer">Создать организатора</a> -->
  </div>
</nav>

<router-outlet></router-outlet>